.main{
    /* height: 100dvh;
    overflow-y: scroll;
    width: 100%; */
    background-color: #fafdff;
}
 .heading{
    font-family: var(--primary-font);
    color: var(--primary);
    margin: 20px;
    padding: 0 20px;
 }
.upcoming_products{
    display: flex;
    gap: 20px;
    margin: 0 20px;
    padding: 0 20px;
    flex-wrap: wrap;
}

.feedback_button_container{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--input);
    width: fit-content;
    border-radius: 50rem;
    border: 1px solid var(--primary);
    z-index: 2;
}
.feedback_button_container:hover{
    cursor: pointer;
}
.feedback_icon{
    scale: 150%;
    fill:white;
    background-color: var(--primary);
    padding: 5px;
    border-radius: 50rem;
}
.feedback_botton{
    background-color: transparent;
    color: var(--primary);
    font-weight: bolder;
    padding: 10px;
    border: none;
    border-radius: 15px;
}
@media screen and (max-width:500px) {
.heading{
    padding: 0;
    margin:  10px;
}
 .upcoming_products{
    flex-direction: column;
    padding: 0;
    margin: 0 10px;
 }
 .feedback_button_container{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--input);
    width: fit-content;
    border-radius: 50rem;
    border: 1px solid var(--primary);
}
 .feedback_icon{
    /* scale: 150%; */
    fill:white;
    background-color: var(--primary);
    padding: 5px;
    border-radius: 50rem;
}
.feedback_botton{
    background-color: transparent;
    color: var(--primary);
    font-weight: bold;
    font-size: small;
    /* padding: 5px; */
}
}