.main{
    height: 100vh;
    max-height: 100vh;
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: mainInOut 3s ease-in-out forwards;
}
.flairminds {
    font-family: var(--primary-font);
    color: var(--primary);
    max-height: 0;
    overflow: hidden;
    display: inline-block;
    opacity: 0;
    transform: translateY(0);
    animation: flairInOut 2s ease-in-out forwards;
  }
  
  @keyframes flairInOut {
    0% {
      max-height: 0;
      opacity: 0;
      transform: translateY(20px); /* entry from bottom */
    }
    25% {
      max-height: 100px;
      opacity: 1;
      transform: translateY(0);
    }
    75% {
      max-height: 100px;
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      max-height: 0;
      opacity: 0;
      transform: translateY(-60px); /* exit upward */
    }
  }  

  @keyframes mainInOut {
    0%{
        max-height:100vh;
    }80%{
        max-height:100vh;
    }100%{
        max-height:0vh;
    }
  }